@media(max-width:767px) {
    .navbar-light .navbar-brand {
        width: 60%;
    }

    .collapse.show {
        background-color: #000;
    }

    .navbar-toggler {
        background-color: #fff;
        border-color: #fff;
    }

    .main-nav .navbar-nav .nav-link,
    .main-nav .navbar-nav .active > .nav-link {
        padding: 5px 0;
    }

    .main-nav .nav-item .btn-primary {
        margin-top: 10px
    }

    .banner-txt h4 {
        font-size: 20px;
    }

    .slider {
        padding: 170px 0 110px 0;
    }

    .home_icon i {
        display: none;
    }

    .slider_btn1 {
        margin-top: 10px;
    }

    .slick-dots li {
        display: inline-block;
    }

    .slick-dots li button {
        margin-right: 10px;
    }

    .slick-dots {
        text-align: center;
        top: 90%;
        right: 50%;
        transform: translateX(50%)
    }


    /*about*/

    .about {
        padding: 5px 0 40px 0;
    }

    .about-img {

        margin-top: 20px;
    }

    /*feature*/
    .feature-header h2 {
        font-size: 22px;
    }

    .nav-pills .nav-link p {
        display: none !important;
    }

    .nav-pills .nav-link::before,
    .nav-pills .nav-link.active::before {
        height: 0;
    }

    .flex-column {
        flex-direction: row !important;
        justify-content: center;

    }

    .nav-link {
        padding: 0;
    }

    .nav-pills .nav-link i {

        font-size: 32px;
        margin: 0 5px 5px 5px;

    }

    .feature .feature-text {
        text-align: center;
        margin-top: 20px
    }

    /*screenshot*/
    .screenshot-header {
        margin-top: 60px;
    }

    .screensht-img {
        text-align: center;
    }

    .screensht-img img {
        display: inline-block;
    }

    /*video*/
    .vedio-part {
        padding: 100px 0;
    }

    /*pricing*/

    .main-pricing {
        padding: 48px 0 10px 0;
    }

    .price {
        margin-bottom: 38px;
    }

    /*team*/
    .team-detail p {
        font-size: 12px;
    }

    /*footer*/
    .footer-icon a i {
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

}

@media(min-width:576px) and (max-width:767px) {
    .slider_btn1 {
        margin-top: 0;
    }

    .about-img {
        text-align: center;
        margin-top: 20px;
    }

    .price .price-btn {
        left: 70px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .navbar-toggler {
        background-color: #fff;
        border-color: #fff;
    }

    .collapse.show {
        background-color: #000;
    }

    .main-nav .navbar-nav .nav-link,
    .main-nav .navbar-nav .active > .nav-link {
        padding: 5px 0;
    }

    .main-nav .nav-item .btn-primary {
        margin-top: 10px
    }

    .home_icon i {
        display: none;
    }

    .slider_btn1 {
        margin-top: 10px;
    }

    .slick-dots li {
        display: inline-block;
    }

    .slick-dots li button {
        margin-right: 10px;
    }

    .slick-dots {
        text-align: center;
        top: 90%;
        right: 50%;
        transform: translateX(50%)
    }

    .banner-txt h4 {
        font-size: 20px;
    }

    /*about*/
    .about-text {
        margin-top: 0px;
    }

    .about-img {
        margin-top: 30px;
    }

    .vedio-part {
        padding: 120px 0;
    }

    /*pricing*/
    .main-pricing {
        padding: 48px 0 10px 0;
    }

    .price {
        margin-bottom: 38px;
    }

    .price .price-btn {
        left: 115px;
    }

    /*feature*/
    .nav-pills .nav-link p {
        font-size: 10px;
    }

    .nav-pills .nav-link span {
        font-size: 8px;
    }

    .nav-pills .nav-link i {
        font-size: 33px;
    }

    .nav-pills .nav-link::before {
        width: 172px;
    }

    .nav-pills .nav-link.active::before {
        width: 209px;
    }

    .nav-pills .nav-link:hover:before {
        width: 209px;

    }

    .feature .feature-text h3 {
        font-size: 15px;
    }

    .feature .feature-text p {
        font-size: 11px;
    }

    .feature .feature-text {
        margin-top: 50px;
    }

    .feature-img img {
        width: 100%
    }
}

@media(min-width:992px) and (max-width:1199px) {

    .main-nav .navbar-nav .nav-link,
    .main-nav .navbar-nav .active > .nav-link {
        margin-left: 24px;
    }

    .home_icon i {
        display: none;
    }

    .slick-dots li {
        display: inline-block;
    }

    .slick-dots li button {
        margin-right: 10px;
    }

    .slick-dots {
        text-align: center;
        top: 90%;
        right: 50%;
        transform: translateX(50%)
    }

    .about-text {

        margin-top: 39px;

    }

    .price .price-btn {
        left: 61px;
    }

}

@media(min-width:1200px) {
    .home_icon i {
        right: 11px;
    }

    .slick-dots {
        right: 11px;
    }
}
